---
import Test from '../components/Test.astro';
---

<script>
	let elem: Element | null = document.getElementById("postrender-normal");
	setTimeout(
		() => {elem!.innerHTML = "a clientside-rendered component"}, 
		500
	)
</script>

<html>
	<body>
		<main>
			<h1>Welcome to my <b>stupid</b><i> test page</i>.</h1>
			<ul>
				<li>This one is normal.</li>
				<Test text="a prerendered component"></Test>
				<li id="postrender-normal">working on it...</li>
			</ul>
		</main>
	</body>
</html>

<style lang="scss" is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color: white;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		text-align: center;
	}
</style>